*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

local.properties
.idea
module_analytics/.gitignore
module_analytics/build.gradle
module_analytics/fabric.properties
module_analytics/google-services.json
module_analytics/libs/
module_analytics/proguard-rules.pro
module_analytics/src/
module_crash/.gitignore
module_crash/build.gradle
module_crash/google-services.json
module_crash/libs/
module_crash/proguard-rules.pro
module_crash/src/
